<h1 class="animated fadeIn fast">
    Sobre comic app
</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quibusdam consectetur eos cupiditate alias sint
    harum dolores, ad est enim maiores. Nesciunt mollitia optio tenetur repudiandae similique quis exercitationem
    dolores.
</p>