<div class="jumbotron jumbotron-fluid animated fadeIn fast">

    <div class="container">
        <h1 class="display-4">App Heroes</h1>
        <p class="lead">Esta es una aplicación de comics.</p>
    </div>

</div>