<h1 class=" animated fadeIn fast"> {{heroe.nombre}} </h1> <small> {{heroe.aparicion}} </small>

<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img [src]="heroe.img" alt="" class="img-fluid">
        <br><br>
        <a [routerLink]="[ '/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>

    <div class="col-md-8">
        <h3> {{heroe.nombre}} </h3>
        <hr>
        <p>
            {{heroe.bio}}
        </p>
        <div>
            <!-- la imagen deberia indicar a que empresa funciona -->
            <img *ngIf="heroe.casa == 'DC'" class="img-logo" src="assets/img/dc-ico.png" alt="DC">
            <img *ngIf="heroe.casa == 'Marvel'" class="img-logo" src="assets/img/marvel-ico.png" alt="Marvel">
        </div>
    </div>

</div>